.button-not-allow{
	opacity: 0.5;
	cursor: not-allowed;
}

.user-status.is-idle { 
	display:none !important; 
}

#chat .chat-header .close {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 15px;
	top: 50%;
	right: 25px;
	margin-top: -7px;
	color: #bec0c2;
	-webkit-opacity: .5;
	-moz-opacity: .5;
	opacity: .5;
	filter: alpha(opacity=50);
}

#chat{
	overflow-y: visible !important;
	position: absolute !important;
}

.tile-title.tile-red {
	background: #EA0B0B;
}

.tile-title.tile-red:hover {
background-color: #FF0000;
}