#tree_wrap {
    width: 960px;
    height: 298px;
    margin: 0 auto;
    background: url(../images/binario/fundo_arvore.jpg) no-repeat;
    border: 1px solid #CCCCCC;
    position: absolute;
    float: left;
}


#tree_pop { width:100%; height:100%; background:#FFFFFF; padding:10px 10px 10px 10px; border:solid 1px #CCCCCC; margin-left:15px; -moz-box-shadow: 2px 2px 5px #888; -webkit-box-shadow: 2px 2px 5px #888; box-shadow: 2px 2px 5px #888; -webkit-border-radius: 3px; -webkit-border-top-left-radius: 0; -moz-border-radius: 3px; -moz-border-radius-topleft: 0; border-radius: 3px; border-top-left-radius: 0; }
#table_tooltip {width:100%; height:100%; }
#table_tooltip th { font-weight:bold; color:#000000; font-size:11px; text-align:left; }
#table_tooltip td { color:#000000; font-size:11px; text-align:left; }
#tree_pop_arrow { width:16px; height:14px; background:url(../images/binario/flecha.png) no-repeat; position:absolute; top:-1px; left:0px; }

/* tooltip */
.tooltip_p {
    /* by default, hide it */
    display: none;
    /* allow us to move the tooltip */
    position: absolute;
    /* align the image properly */
    padding: -20px 0 0 8px;
}

.tooltip_p span.overlay {
    /* the png image, need ie6 hack though */
    background:url(../images/binario/tooltip_fundo.png) no-repeat;
    /* put this overlay on the top of the tooltip image */
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 388px;
    height: 240px;
}

#tree_pop_r { width:100%; height:100%; background:#FFFFFF; padding:10px 0px 10px 10px; border:solid 1px #CCCCCC; margin-right:15px; -moz-box-shadow: 2px 2px 5px #888; -webkit-box-shadow: 2px 2px 5px #888; box-shadow: 2px 2px 5px #888; -webkit-border-radius: 3px; -webkit-border-top-right-radius: 0; -moz-border-radius: 3px; -moz-border-radius-topright: 0; border-radius: 3px; border-top-right-radius: 0; }
#table_tooltip_r {width:100%; height:100%; }
#table_tooltip_r th { font-weight:bold; color:#000000; font-size:11px; text-align:left; }
#table_tooltip_r td { color:#000000; font-size:11px; text-align:left; }
#tree_pop_arrow_r { width:16px; height:14px; background:url(../images/binario/flecha2.png) no-repeat; position:absolute; top:-1px; right:-27px; }

.tooltip_p_r {

    /* by default, hide it */
    display: none;
    /* allow us to move the tooltip */
    position: absolute;
    /* align the image properly */
    padding: -20px 0 0 8px;
}

.tooltip_p_r span.overlay {
    /* the png image, need ie6 hack though */
    background:url(images/overlay.png) no-repeat;
    /* put this overlay on the top of the tooltip image */
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 388px;
    height: 240px;
}

.thumbnail-item_01_01 {	position: absolute;	width:40px;	height:45x;	left: 459px; top: 12px; }
.thumbnail-item_01_01 a { display: block; }
.thumbnail-item_01_01 img.thumbnail_01 {	border:0px solid #ccc; }




.thumbnail-item_02_01 {	position: absolute;	width:40px;	height:45x;	left: 219px; top: 61px; }
.thumbnail-item_02_01 a { display: block; }
.thumbnail-item_02_01 img.thumbnail_02_01 {	border:0px solid #ccc; }

.thumbnail-item_02_02 {	position: absolute;	width:40px;	height:45x;	left: 697px; top: 61px; }
.thumbnail-item_02_02 a { display: block; }
.thumbnail-item_02_02 img.thumbnail_02_02 {	border:0px solid #ccc; }




.thumbnail-item_03_01 {	position: absolute;	width:40px;	height:45x;	left: 104px; top: 118px; }
.thumbnail-item_03_01 a { display: block; }
.thumbnail-item_03_01 img.thumbnail_03_01 {	border:0px solid #ccc; }

.thumbnail-item_03_02 {	position: absolute;	width:40px;	height:45x;	left: 334px; top: 118px; }
.thumbnail-item_03_02 a { display: block; }
.thumbnail-item_03_02 img.thumbnail_03_02 {	border:0px solid #ccc; }

.thumbnail-item_03_03 {	position: absolute;	width:40px;	height:45x;	left: 582px; top: 118px; }
.thumbnail-item_03_03 a { display: block; }
.thumbnail-item_03_03 img.thumbnail_03_03 {	border:0px solid #ccc; }

.thumbnail-item_03_04 {	position: absolute;	width:40px;	height:45x;	left: 813px; top: 118px; }
.thumbnail-item_03_04 a { display: block; }
.thumbnail-item_03_04 img.thumbnail_03_04 {	border:0px solid #ccc; }




.thumbnail-item_04_01 {	position: absolute;	width:40px;	height:45x;	left: 48px; top: 172px; }
.thumbnail-item_04_01 a { display: block; }
.thumbnail-item_04_01 img.thumbnail_04_01 {	border:0px solid #ccc; }

.thumbnail-item_04_02 {	position: absolute;	width:40px;	height:45x;	left: 160px; top: 172px; }
.thumbnail-item_04_02 a { display: block; }
.thumbnail-item_04_02 img.thumbnail_04_02 {	border:0px solid #ccc; }

.thumbnail-item_04_03 {	position: absolute;	width:40px;	height:45x;	left: 277px; top: 172px; }
.thumbnail-item_04_03 a { display: block; }
.thumbnail-item_04_03 img.thumbnail_04_03 {	border:0px solid #ccc; }

.thumbnail-item_04_04 {	position: absolute;	width:40px;	height:45x;	left: 391px; top: 172px; }
.thumbnail-item_04_04 a { display: block; }
.thumbnail-item_04_04 img.thumbnail_04_04 {	border:0px solid #ccc; }

.thumbnail-item_04_05 {	position: absolute;	width:40px;	height:45x;	left: 527px; top: 172px; }
.thumbnail-item_04_05 a { display: block; }
.thumbnail-item_04_05 img.thumbnail_04_05 {	border:0px solid #ccc; }

.thumbnail-item_04_06 {	position: absolute;	width:40px;	height:45x;	left: 639px; top: 172px; }
.thumbnail-item_04_06 a { display: block; }
.thumbnail-item_04_06 img.thumbnail_04_06 {	border:0px solid #ccc; }

.thumbnail-item_04_07 {	position: absolute;	width:40px;	height:45x;	left: 757px; top: 172px; }
.thumbnail-item_04_07 a { display: block; }
.thumbnail-item_04_07 img.thumbnail_04_07 {	border:0px solid #ccc; }

.thumbnail-item_04_08 {	position: absolute;	width:40px;	height:45x;	left: 871px; top: 172px; }
.thumbnail-item_04_08 a { display: block; }
.thumbnail-item_04_08 img.thumbnail_04_08 {	border:0px solid #ccc; }




.thumbnail-item_05_01 {	position: absolute;	width:40px;	height:45x;	left: 14px; top: 228px; }
.thumbnail-item_05_01 a { display: block; }
.thumbnail-item_05_01 img.thumbnail_05_01 {	border:0px solid #ccc; }

.thumbnail-item_05_02 {	position: absolute;	width:40px;	height:45x;	left: 81px; top: 228px; }
.thumbnail-item_05_02 a { display: block; }
.thumbnail-item_05_02 img.thumbnail_05_02 {	border:0px solid #ccc; }

.thumbnail-item_05_03 {	position: absolute;	width:40px;	height:45x;	left: 128px; top: 228px; }
.thumbnail-item_05_03 a { display: block; }
.thumbnail-item_05_03 img.thumbnail_05_03 {	border:0px solid #ccc; }

.thumbnail-item_05_04 {	position: absolute;	width:40px;	height:45x;	left: 193px; top: 228px; }
.thumbnail-item_05_04 a { display: block; }
.thumbnail-item_05_04 img.thumbnail_05_04 {	border:0px solid #ccc; }

.thumbnail-item_05_05 {	position: absolute;	width:40px;	height:45x;	left: 244px; top: 228px; }
.thumbnail-item_05_05 a { display: block; }
.thumbnail-item_05_05 img.thumbnail_05_05 {	border:0px solid #ccc; }

.thumbnail-item_05_06 {	position: absolute;	width:40px;	height:45x;	left: 310px; top: 228px; }
.thumbnail-item_05_06 a { display: block; }
.thumbnail-item_05_06 img.thumbnail_05_06 {	border:0px solid #ccc; }

.thumbnail-item_05_07 {	position: absolute;	width:40px;	height:45x;	left: 359px; top: 228px; }
.thumbnail-item_05_07 a { display: block; }
.thumbnail-item_05_07 img.thumbnail_05_07 {	border:0px solid #ccc; }

.thumbnail-item_05_08 {	position: absolute;	width:40px;	height:45x;	left: 426px; top: 228px; }
.thumbnail-item_05_08 a { display: block; }
.thumbnail-item_05_08 img.thumbnail_05_08 {	border:0px solid #ccc; }

.thumbnail-item_05_09 {	position: absolute;	width:40px;	height:45x;	left: 494px; top: 228px; }
.thumbnail-item_05_09 a { display: block; }
.thumbnail-item_05_09 img.thumbnail_05_09 {	border:0px solid #ccc; }

.thumbnail-item_05_010 {	position: absolute;	width:40px;	height:45x;	left: 560px; top: 228px; }
.thumbnail-item_05_010 a { display: block; }
.thumbnail-item_05_010 img.thumbnail_05_10 {	border:0px solid #ccc; }

.thumbnail-item_05_011 {	position: absolute;	width:40px;	height:45x;	left: 608px; top: 228px; }
.thumbnail-item_05_011 a { display: block; }
.thumbnail-item_05_011 img.thumbnail_05_11 {	border:0px solid #ccc; }

.thumbnail-item_05_012 {	position: absolute;	width:40px;	height:45x;	left: 675px; top: 228px; }
.thumbnail-item_05_012 a { display: block; }
.thumbnail-item_05_012 img.thumbnail_05_12 {	border:0px solid #ccc; }

.thumbnail-item_05_013 {	position: absolute;	width:40px;	height:45x;	left: 723px; top: 228px; }
.thumbnail-item_05_013 a { display: block; }
.thumbnail-item_05_013 img.thumbnail_05_13 {	border:0px solid #ccc; }

.thumbnail-item_05_014 {	position: absolute;	width:40px;	height:45x;	left: 790px; top: 228px; }
.thumbnail-item_05_014 a { display: block; }
.thumbnail-item_05_014 img.thumbnail_05_14 {	border:0px solid #ccc; }

.thumbnail-item_05_015 {	position: absolute;	width:40px;	height:45x;	left: 839px; top: 228px; }
.thumbnail-item_05_015 a { display: block; }
.thumbnail-item_05_015 img.thumbnail_05_15 {	border:0px solid #ccc; }

.thumbnail-item_05_016 {	position: absolute;	width:40px;	height:45x;	left: 907px; top: 228px; }
.thumbnail-item_05_016 a { display: block; }
.thumbnail-item_05_016 img.thumbnail_05_16 {	border:0px solid #ccc; }
