.widget-body {
    border: 1px solid #CCC;
    border-top: 0;
    border-bottom: 0px;
    background-color: #FFF;
}

.gerar-pedido{
    margin-left: -4px;
    margin-top: -5px;
    height: 31px;
    padding: 0px;
}

.strong{
    font-weight: bold;
}

._cf{
    margin-left: -15px !important;
}

._zdf>.form-group>label{
    text-align: right !important;
}